body {
    padding: 50px 0px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .border{
    border: 2px solid #fff;
    margin: 10px 10px;
  }
  .btn-primary{
    margin: 40px 0px;
    padding: 10px 30px;
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
  }